/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.timer-card {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    background: #EBF5FB;
    /*border-radius: 4em;*/
    box-shadow: 0 0 1em 0 black;
    z-index: -2;
    
}

.pscontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.timer, .msg1, .msg2 {
    position: relative;
    text-align: center;
    color: #F44336;
    padding: 0.3em;
    font-family: 'Dancing Script', cursive;
    font-size: 2.6em;
    margin: 0;
}

.timer {
    font-size: 2.4em;
}
